* {
    margin: 0;
    padding: 0;
    text-align: center;
}
span, p {
    color: cornsilk;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.main {
    background-color: #731882;
    height: 350px;
    width: 350px;
}
.head {
    padding: 5px;
    border-bottom: rgb(0, 0, 0) 2px solid;
}
.botao {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}